<%- include('partials/head') %> 

<div class="container">
    <div class="card">
        <div class="animeImg"><img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114129-RLgSuh6YbeYx.jpg" alt=""></div>
        <div class="info">
            <h1 class="name">Gintama: THE VERY FINAL</h1>
        </div>
    </div>

    <div class="card">
        <div class="animeImg"><img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx124194-pWfBqp3GgjOx.jpg" alt=""></div>
        <div class="info">
            <h1 class="name">Fruits Basket The Final Season</h1>
        </div>
    </div>

    <div class="card">
        <div class="animeImg"><img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx125367-bl5vGalMH2cC.png" alt=""></div>
        <div class="info">
            <h1 class="name">Kaguya-sama: Love is War -Ultra Romantic-</h1>
        </div>
    </div>

    <div class="card">
        <div class="animeImg"><img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx104578-LaZYFkmhinfB.jpg" alt=""></div>
        <div class="info">
            <h1 class="name">Attack on Titan Season 3 Part 2</h1>
        </div>
    </div>

    <div class="card">
        <div class="animeImg"><img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21745-vHwC1VKoL6zf.png" alt=""></div>
        <div class="info">
            <h1 class="name">Owarimonogatari Second Season</h1>
        </div>
    </div>

    <div class="card">
        <div class="animeImg"><img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx142329-kET1PIXJv2eW.jpg" alt=""></div>
        <div class="info">
            <h1 class="name">Demon Slayer: Kimetsu no Yaiba Entertainment District Arc</h1>
        </div>
    </div>

    <div class="card">
        <div class="animeImg"><img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx140960-vN39AmOWrVB5.jpg" alt=""></div>
        <div class="info">
            <h1 class="name">SPY x FAMILY</h1>
        </div>
    </div>
</div>

<%- include('partials/footer') %>